.modalOverlay {
  background-color: black;
  opacity: 0.6;
  inset: 0;
  position: fixed;
}

.modalContent {
  font-family: "Inter", sans-serif;
  position: fixed;
  padding: 32px 30px;
  background-color: #373341;
  border-radius: 8px;
  border: none;
  width: 480px;
  color: white;
  top: 50%;
  left: 50%;
  --tw-translate-x: -50%;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y));
}

.modalTitle {
  font-size: 32px;
  font-weight: 900;
  margin: 0 0 32px 0;
}

.styledSelectTrigger {
  overflow: hidden;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: #27272a;
  border: none;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  position: relative;
  margin-top: 8px;
}

.styledSelectTrigger:hover {
  background-color: #5a5a62;
}

.styledSelectContent {
  overflow: hidden;
  position: relative;
  background-color: #27272a;
  border-radius: 8px;
  color: white;
  width: 480px;
  left: 34px;
}

.styledScrollButton {
  display: flex;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.styledSelectItem {
  font-family: "Inter", sans-serif;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 50px;
  box-sizing: border-box;
}

.styledSelectItem:hover {
  background-color: #8b5cf6;
  color: white;
}

.styledSelectItemIndicator {
  position: absolute;
  left: 5px;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8b5cf6;
}

.styledSelectItemText {
  padding-left: 70px;
}

.formInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 0;
}

.formInput input {
  width: 100%;
  background-color: #27272a;
  border: none;
  height: 50px;
  font-size: 16px;
  padding: 12px 16px;
  margin: 8px 0 10px 0;
  box-sizing: border-box;
  border-radius: 8px;
  outline: 0;
  color: white;
}

.formInputGroup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

.formInputGroupElement {
  width: 100%;
}

.hoursOfDay {
  flex: 1;
  gap: 4px;
}

.weekDaysButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0 10px;
  gap: 2px;
  flex-wrap: wrap;
}

.weekDaysButtonsItem {
  height: 50px;
  width: 50px;
  border-radius: 8px;
  color: white;
  border: none;
  outline: 0;
}
.dayNonSelected {
  background-color: #27272a;
}

.daySelected {
  background-color: #8b5cf6;
}

.dayNonSelected:hover {
  background-color: #48484a;
  cursor: pointer;
}

.daySelected:hover {
  background-color: #b293fb;
  cursor: pointer;
}

label {
  font-weight: 600;
}

.useVoiceChannelContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0 40px 0;
}

.useVoiceChannelContent > span {
  font-size: 14px;
  font-weight: 400;
  margin-left: 8px;
}

.buttonsContent {
  display: flex;
  justify-content: end;
  gap: 8px;
}

.buttonCancel {
  height: 50px;
  width: 110px;
  border-radius: 8px;
  background-color: #71717a;
  font-weight: 600;
  color: white;
  font-size: 16px;
  border: none;
  outline: 0;
}

.buttonCancel:hover {
  background-color: #5a5a62;
  cursor: pointer;
}

.buttonSuccess {
  height: 50px;
  width: 164px;
  border-radius: 8px;
  background-color: #8b5cf6;
  font-weight: 600;
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: 0;
}

.buttonSuccess:hover {
  background-color: #6b36e6;
  cursor: pointer;
}

.gameControllerIcon {
  margin-right: 12px;
}

.useVoiceChannelChackboxElement {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #27272a;
  border: none;
  padding: 4px;
}

.useVoiceChannelChackboxElement:hover {
  cursor: pointer;
  background-color: #5a5a62;
}

.useVoiceChannelChackboxCheck {
  width: 16px;
  height: 16px;
  color: #34d399;
}
